@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Meistraat<br />
    Antwerpen, ANT<br />
    <abbr title="Phone">P:</abbr>
    000.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:s089563@ap.be">Mail</a><br />
</address>